PetShopMVC/Service References/PetShopDALService/Service14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PetShopSolution.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PetShopSolution.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60070/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PetShopDAL" />
  <xs:complexType name="ArrayOfRating">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rating" nillable="true" type="tns:Rating" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRating" nillable="true" type="tns:ArrayOfRating" />
  <xs:complexType name="Rating">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PetShopDAL" minOccurs="0" name="Animal" nillable="true" type="q1:Animal" />
      <xs:element minOccurs="0" name="CommentCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rating" nillable="true" type="tns:Rating" />
</xs:schema>