PetShopMVC/Service References/PetShopDALService/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60070/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PetShopDAL" />
  <xs:import schemaLocation="http://localhost:60070/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:60070/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/PetShopSolution.Models" />
  <xs:import schemaLocation="http://localhost:60070/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetCommentsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PetShopDAL" minOccurs="0" name="GetCommentsListResult" nillable="true" type="q1:ArrayOfComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryEntities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PetShopDAL" minOccurs="0" name="GetCategoryEntitiesResult" nillable="true" type="q2:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAnimal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animalName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="age" type="xs:int" />
        <xs:element minOccurs="0" name="pictureName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categoryName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAnimalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCategoriesResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnimalsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AnimalsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PetShopDAL" minOccurs="0" name="AnimalsListResult" nillable="true" type="q4:ArrayOfAnimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnimalsOrderedByCommentCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnimalsOrderedByCommentCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PetShopSolution.Models" minOccurs="0" name="GetAnimalsOrderedByCommentCountResult" nillable="true" type="q5:ArrayOfRating" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAnimal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="animalId" type="q6:guid" />
        <xs:element minOccurs="0" name="animalName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="age" type="xs:int" />
        <xs:element minOccurs="0" name="pictureName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAnimalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentsOfAnimal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animalName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentsOfAnimalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCommentsOfAnimalResult" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>